:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #ffffff;
    --text-secondary: #000000;
    --bg-primary: #9f6ff8;
    --bg-secondary: rgb(235, 225, 255);
}

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

* {
    -webkit-transition: 0.33s ease;
    transition: 0.33s ease;
}



.rela-block {
    display: block;
    position: relative;
    overflow: hidden;
}

.side-bar {
    z-index: 100;
    position: fixed;
    width: 7rem;
    height: 100%;
    /* top: 0;
    bottom: 0; */
    right: 0;
    background-color: var(--bg-primary);
    font-family: "Raleway";
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.33s ease;
    transition: 0.33s ease;
}

.side-bar a{
    color: #ffffff;
}

.side-bar:hover {
    width: 300px;
}

.side-bar:hover .side-button::before {
    left: 6%;
    -webkit-transition: 0.33s ease, left 0.25s 0.15s ease;
    transition: 0.33s ease, left 0.25s 0.15s ease;
}

.side-bar:hover .hover-svg {
    height: 260px;
    width: 260px;
}

.side-container {
    position: absolute;
    width: 100%;
}

.side-container.top {
    height: 20%;
    top: 1%;
}

.side-container.middle {
    padding-top: 10px;
    height: 65%;
    top: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hover-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    fill: none;
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 2;
    cursor: pointer;
    -webkit-transition: 0s ease, height 0.33s ease, width 0.33s ease;
    transition: 0s ease, height 0.33s ease, width 0.33s ease;
}

.hover-svg:hover {
    stroke: #000;
}

.side-button {
    height: 15%;
    margin: 5px 0;
    fill: white;
    cursor: pointer;
}

.side-button:last-child {
    height: 15%;
    margin: .5rem 0;
    bottom: 0;
    fill: white;
    cursor: pointer;
}

.side-button:hover {
    background-color: white;
    fill: black;
    margin: 0 -2rem;
    margin-right: 1rem;
    border-radius: 10px;
    box-shadow: -3px 2px 30px 4px rgba(0, 0, 0, 0.4);
}

.side-button::before {
    position: absolute;
    top: 50%;
    left: -250px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.33s ease;
    transition: 0.33s ease;
    margin-left: 1.5rem;
}

.side-button::after {
    content: "";
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 50%;
    right: 2.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: cover !important;
    -webkit-transition: 0.33s ease;
    transition: 0.33s ease;
}

.side-button.popular::before {
    content: "Popular";
}

.side-button.popular:after {
    background: url("../../../img/icons/star.svg") no-repeat center;
}

.side-button.favorite::before {
    content: "Favorite";
}

.side-button.favorite:after {
    background: url("../../../img/icons/heart.svg") no-repeat center;
}

.side-button.calender::before {
    content: "Calender";
}

.side-button.calender:after {
    background: url("../../../img/icons/calendar.svg") no-repeat center;
}

.side-button.audiobook::before {
    content: "Audio Book";
}

.side-button.audiobook:after {
    background: url("../../../img/icons/audio-book.svg") no-repeat center;
}

.side-button.bookmark::before {
    content: "Bookmark";
}

.side-button.bookmark:after {
    background: url("../../../img/icons/bookmark.svg") no-repeat center;
}

.side-button.log-in-out::before {
    content: "Log Out";
}

.side-button.log-in-out:after {
    background: url("../../../img/icons/logout.svg") no-repeat center;
}