 a {
    color: #636363;
    text-decoration: none;
 }


 a:hover {
    color: #636363;
    text-decoration: none;
    cursor: pointer;
 }

.main-content {
   height: calc(100vh - 10rem);
   margin: 0rem;
   margin-right: 10rem;
   padding: 0;
}

.right-div {
   padding: 1rem;
}
.my-books {
   border-radius: 8px;
}
.content_header {
   background-color: white;
   /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); */
   /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; */
   padding: 1rem 1rem;
   /* border-top-left-radius: 0.8rem;
   border-top-right-radius: 0.8rem;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px; */
}
#content-header-p-writers {
   /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
   margin: 0.05rem 0rem;
}
.content_header-title h4 {
   margin: 0;
}
.header-btn {
}

.my-books-body {
   margin-top: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center !important;
}
.my-book {
   display: flex;
   border-radius: 15px;
   background-color: wheat;
   flex-basis: 30%;
   align-items: center !important;
   padding: 1rem;

   transition: 300ms ease-out;
   direction: rtl;
}
.my-book:hover {
   box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.my-book_img {
   margin-left: 1rem;
   flex: 1;
   position: relative;
}
.img-overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: var(--bg-primary);
   overflow: hidden;
   width: 0;
   height: 100%;
   transition: 0.3s ease;
   border-radius: 3px;
}
.img-overlay-text a {
   white-space: nowrap;
   color: white;
   font-size: 20px;
   position: absolute;
   overflow: hidden;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-decoration: none;
}

.my-book_img img {
   min-width: 24%;
}
.my-book_img:hover .img-overlay {
   width: 100%;
}

.my-book_info {
   display: flex;
   flex-direction: column;
   flex: 1;
   align-content: center;
   text-align: right;
}
.my-book_info h5 {
   white-space: nowrap;
}
.my-book_info p {
   margin-bottom: 0;
   font-size: 1rem;
}

.Star-Rating input {
   border: 0;
   width: 1px;
   height: 1px;
   overflow: hidden;
   position: absolute !important;
   clip: rect(1px 1px 1px 1px);
   clip: rect(1px, 1px, 1px, 1px);
   opacity: 0;
}
.Star-Rating {
   margin-top: 1rem;
   margin-left: auto;
}
.Star-Rating i {
   position: relative;
   float: right;
   color: white;
}

/* .Star-Rating i:before {
  margin: 5px;
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
} */

.Star-Rating input:checked ~ i:before {
   color: #ffc107;
}

.Star-Rating i:hover ~ i:before {
   color: #ffdb70;
}

.Star-Rating i:hover:before {
   color: #ffc107;
}

#my-book-body_left {
   background-color: #a4d9f9;
}
#my-book-body_middel {
   background-color: #d6cfff;
}
#my-book-body_right {
   background-color: #a6ecd7;
}

#p-writers-and-reding {
   margin-top: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
}
.popular-writers {
   flex-basis: 33%;
   border-top-left-radius: 0.8rem;
   border-top-right-radius: 0.8rem;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
}
.content_container {
   flex-basis: 63%;
   align-items: stretch;
   background-color: white;
   border-radius: 8px;
   padding: 10px;

}
.p-writers-col {
   /* background-color: teal; */
   display: flex;
   flex-direction: column;
}
.p-writer {
   background-color: white;
   padding: 1rem;
   display: flex;
   flex-direction: row;
   /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
   align-items: center;
   margin: 0.05rem 0rem;
   border-radius: 3px;
   transition: 150ms ease-out;
   direction: rtl;
   text-align: right;
}

.p-writer:hover {
   z-index: 100;
   margin: 0rem -0.8rem;
   box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
}
.p-writer-info {
   display: flex;
   flex-direction: row;
   align-items: center;
}
.p-writer-info img {
   width: 20%;
   border: 3px solid white;
   border-radius: 14px;
   object-fit: cover;
   box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.p-writer-info img:hover {
   box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
.p-writer-info p {
   margin: 0;
   font-size: 14px;
   margin-right: 0.8rem;
}
.notebook-icon {
   margin-left: 0.5rem;
}
.notebook-icon i {
   color: var(--bg-primary);
}
.notebook-icon i:hover {
   color: rgb(134, 74, 245);
}
.reading-book {
   background-color: white;
   display: flex;
   align-items: center;
   /* justify-content: space-between; */
   margin-bottom: 1rem
}
.reading-book:last-child {
   border-bottom-left-radius: 0.8rem;
   border-bottom-right-radius: 0.8rem;
}
.r-book-img {
}
.r-book-img img {
   max-width: 5rem;
   height: auto;
}
.r-book-info {
   display: flex;
   flex-direction: column;
   justify-items: flex-end;
   margin-right: 1rem;
   flex-basis: 90%;
}
.r-book-info p {
   font-size: 1rem;
   
}
.r-book-name{
   align-self: start;
}
.r-book-w-p {
   display: flex;
   justify-content: space-between;
}
.r-book-w p {
   margin: 0;
}
.r-book-p p {
   margin: 0;
}

.left-div {
}

.header-btn-icon {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   font-size: 1.2rem;

}


.header-btn-icon svg{
   fill: #636363;
   width: 1.2rem;
   margin: 0.7rem;
}

.content_body{
   display: flex;
   direction: rtl;
   flex-flow: column nowrap;
   background-color: white;
   padding: 0 2rem;
   border-radius: 10px;
}
