.background{
    width: 100vw;
    height: 100vh;
    background: url(../../img/auth/back.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur-sec{
    position: fixed;
    width: 85vw;
    height: 85vh;

    border-radius: 20px;
    backdrop-filter:blur(100px);
    -webkit-backdrop-filter:blur(100px);
} 


@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .backdrop-blur {
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(2em);
        backdrop-filter: blur(2em);
    }
}