.background{
    width: 100vw;
    height: 100vh;
    background: url(../../img/auth/back.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur-sec{
    position: fixed;
    width: 85vw;
    height: 85vh;
    border-radius: 20px;
    backdrop-filter:blur(100px);
    -webkit-backdrop-filter:blur(100px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.main-sec{
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(245, 245, 245, 0.11) 100%);
    
}

.anim-sec{
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.login-anim{
    position: relative;
    width: 120%;
}


@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .backdrop-blur {
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(2em);
        backdrop-filter: blur(2em);
    }
}