.background{
    width: 100vw;
    height: 100vh;
    background: url(../../img/auth/back.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur-sec{
    position: fixed;
    width: 85vw;
    height: 85vh;
    z-index: 10;
    background: rgba(255, 255, 255, 0.822);
    border-radius: 20px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}